.footer {
  width: 100%;
  padding: 3rem 0;
  background: #181818;
  color: #fff;
  display: flex;
  justify-content: center;

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    div {
      margin: 1.5rem 4rem;
      width: 300px;

      h1 {
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
      }

      li {
        margin-top: 10px;
        list-style: none;
      }
    }

    .companies {
      li {
        text-transform: uppercase;
      }
    }
  }
}